#backend
POSTGRES_DB=repair_requests_db
POSTGRES_USER=username
POSTGRES_PASS=password

DATABASE_URL=postgresql://username:password@localhost:5432/repair_requests_db
SECRET_KEY=your-jwt-secret-key-change-this-in-production

LINE_CHANNEL_ID=your_channel_id
LINE_CHANNEL_SECRET=your_channel_secret
LINE_REDIRECT_URI=http://localhost:5173/auth/line/callback

JWT_SECRET_KEY=dev-secret-change-later
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080

#frontend
VITE_API_BASE_URL=http://localhost:8000
VITE_LINE_CHANNEL_ID=your_channel_id
VITE_LINE_REDIRECT_URI=http://localhost:5173/auth/line/callback